[Unit]
Description=Node Exporter
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/node_exporter --web.listen-address=":{{ dashboard_node_exporter_port }}"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
